body {
  background-color: purple;
  font-family: 'Open Sans', sans-serif;
}

.topcontent {
  display: flex;
  justify-content: space-between;
}

.topitem {
  color: purple;
  background-color: pink;
  padding: 5px;
  margin: 5px;
  flex-grow: 1;
  flex-shrink: 1;
}

.topitem:hover {
  color: chartreuse;
  background-color: coral;
}

.navsum {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.navsumitem {
  display: block;
  background-color: hotpink;
  color: darkblue;
  padding: 10px;
  text-decoration: none;
  margin: 5px;
  max-width: 1000px;
  flex-grow: 1;
  flex-shrink: 1;
}

.navsumitem:hover {
  color: coral;
  background-color: darkviolet;
}

.content {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.outline-2 {
  display: block;
  background-color: hotpink;
  color: darkblue;
  padding: 10px;
  text-decoration: none;
  margin: 5px;
  max-width: 1000px;
  flex-grow: 1;
  flex-shrink: 1;
}

.outline-2:hover {
  color: coral;
  background-color: darkviolet;
}

img {
    height: 110%;
    width: 100%;
}
div.figure {
  margin: 0;
  padding: 0;
}

div.figure p {
  margin: 0;
  padding: 0;
}

div.figure img {
  display: block;   /* remove inline gap */
  margin: 0 auto;   /* optional: center horizontally */
}
a {
  text-decoration: none;
}
